<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" package="Estacionamiento_Entrada_Android.Estacionamiento_Entrada_Android" android:versionCode="1" android:versionName="1.0">
	<uses-sdk android:minSdkVersion="19" />
	<application android:label="Estacionamiento_Entrada_Android"></application>
</manifest>